{% extends 'base.html.twig' %}

{% block title %}Forum Index{% endblock %}

{% block body %}
<div id="wrapper-main">
    {% if is_granted('ROLE_ADMIN') %}
    <div class="create-tools">
        <a class="uk-button uk-button-default" href="{{ path('categorie_add') }}">Nouveau</a>
    </div>
    {% endif %}

    <table class="uk-table uk-table-striped uk-table-middle">
        <thead>
            <th>Nom de la catégorie</th>
            <th>Description</th> 
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td class="uk-width-1-4">
                    <h3><a href="{{ path('topic_list', {'id':categorie.id}) }}">{{ categorie.titre }}</a></h3>
                </td>
                <td>
                    {{ categorie.description }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script src="https://kit.fontawesome.com/6277cc7eb0.js"></script>
{% endblock %}