{% extends 'base.html.twig' %}

{% block title %}Forum Index{% endblock %}

{% block body %}
<div id="wrapper-main">
    {% if is_granted('ROLE_ADMIN') %}
        <a class="uk-button uk-button-default" href="{{ path('admin_add_user') }}">Nouveau</a>
    {% endif %}

    <table>
        <thead>
            <th>Nom de l'utilisateur</th>
            <th>E-mail</th>
        </thead>
        <tbody>
        {% for utilisateur in users %}
            <tr>
                <td>{{ utilisateur.pseudo }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{% for role in utilisateur.roles %}
                        {{ role ~ ' '  }}
                    {% endfor %}
                </td>
                <td><a href="{{ path('admin_edit_user', {'id':utilisateur.id}) }}">Editer</a></td>
                <td><a href="{{ path('admin_delete_user', {'id':utilisateur.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}